//
// Common-Base.xcconfig
//
// Copyright © 2017 Netguru Sp. z o.o. All rights reserved.
// Licensed under the MIT License.
//

// MARK: Imports

#include "../../Carthage/Checkouts/xcconfigs/Common/Common.xcconfig"
#include "../../Carthage/Checkouts/xcconfigs/Common/Carthage.xcconfig"

// MARK: Build

_BUILD_VERSION = 0.1
_CLANG_ENABLE_MODULES = YES
_DEFINES_MODULE = YES
_LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
_SWIFT_VERSION = 3.0

SWIFT_OBJC_BRIDGING_HEADER = $(SRCROOT)/Overlog/Sources/Overlog-Bridging-Header.h

// MARK: Deployment

_DEPLOYMENT_TARGET_IOS = 8.0
