//
// Demo-Base.xcconfig
//
// Copyright © 2017 Netguru Sp. z o.o. All rights reserved.
// Licensed under the MIT License.
//

// MARK: Imports

#include "../../Carthage/Checkouts/xcconfigs/Targets/Application.xcconfig"
#include "../../Carthage/Checkouts/xcconfigs/Platforms/iOS.xcconfig"

// MARK: Bundle

_BUNDLE_NAME = Overlog Demo
_BUNDLE_IDENTIFIER = co.netguru.lib.overlog.demo
_BUNDLE_INFOPLIST_PATH = $(SRCROOT)/Overlog/Demo/Resources/Demo-Info.plist
_BUNDLE_TESTABLE = NO

/// MARK: Code signing

CODE_SIGN_IDENTITY = iPhone Distribution: netguru sp. z o. o.
DEVELOPMENT_TEAM = 9HJ69C5G9K
PROVISIONING_PROFILE = 5ead3803-5541-4b21-8fd2-58937b4bfc5d
PROVISIONING_PROFILE_SPECIFIER = Overlog Demo Distribution

// MARK: Assets

_ASSET_ICON = app-icon
_ASSET_LAUNCHIMAGE = app-launch-image
