//
// Framework-Base.xcconfig
//
// Copyright © 2017 Netguru Sp. z o.o. All rights reserved.
// Licensed under the MIT License.
//

// MARK: Imports

#include "../../Carthage/Checkouts/xcconfigs/Targets/Framework.xcconfig"
#include "../../Carthage/Checkouts/xcconfigs/Platforms/iOS.xcconfig"

// MARK: Bundle

_BUNDLE_NAME = Overlog
_BUNDLE_IDENTIFIER = co.netguru.lib.overlog
_BUNDLE_INFOPLIST_PATH = $(SRCROOT)/Overlog/Framework/Resources/Framework-Info.plist
_BUNDLE_TESTABLE = NO
